@tailwind base;
@tailwind components;
@tailwind utilities;

.logoreso a i {
    transition: font-size 0.3s ease; 
  }
  
  .logoreso a:hover i {
    font-size: 35px; 
  }
  
  
  .logoreso a  {
    transition: font-size 0.3s ease; 
  }
  
  .logoreso a:hover  {
    font-size: 18px; 
  }
  

  @media screen and (max-width: 998px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav p {
        display: none;
    }

    .merde {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .clc {
        display: flex;
        transform: translateX(50px);
    }
  }

  @media screen and (max-width: 968px) {
    .hero  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero a {
        display: flex;

    }

    .hero2 {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
  }

  @media screen and (max-width: 720px) {

    .gaming {
        display: flex;
        flex-direction: column;
    }

    
  }
